.label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 120px 0 60px;
  width: 100%;
  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.text {
  font-size: 18px;
  line-height: 3.5em;
}

.label:hover {
  background-color: var(--greyEC);
}

.label * {
  transition: color 150ms ease-in;
}

.created {
  position: absolute;
  font-size: 10px;
  bottom: 2px;
  color: #c4c4c4;
  line-height: 1em;
  right: 15px;
}
